 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">ID3</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
         {{#if isHome}}
        <li class="active"><a href="/">Главная страница</a></li>
        {{else}}
        <li><a href="/">Главная страница</a></li>
        {{/if}}

{{#if isAuth}}
        {{#if isResult}}
        <li class="active"><a href="/result">Сохраненные результаты</a></li>
        {{else}}
        <li><a href="/result">Сохраненные результаты</a></li>
        {{/if}}
{{/if}}

        {{#if isReview}}
        <li class="active"><a href="/reviews">Отзывы</a></li>
        {{else}}
        <li><a href="/reviews">Отзывы</a></li>
        {{/if}}

    

{{#if isAuth}}
        {{#if isAdd}}
        <li class="active"><a href="/add">Добавить отзыв</a></li>
        {{else}}
        <li><a href="/add">Добавить отзыв</a></li>
        {{/if}}
        <li><a href="/auth/logout">Выйти</a></li>
{{else}}

        {{#if isLogin}}
        <li class="active"><a href="/auth/login#login">Войти</a></li>
        {{else}}
        <li><a href="/auth/login#login">Войти</a></li>
        {{/if}}

{{/if}}
        
      </ul>
    </div>
  </nav>